:root {
  --color-primary-200: ;
  --color-primary-400: ;
  --color-primary-600: ;
  --color-primary-800: ;

  --color-secondary-200: ;
  --color-secondary-400: ;
  --color-secondary-600: ;
  --color-secondary-800: ;

  --color-primary: orange;

  --border-radius-small: 10px;
}